---
import MarketingLayout from '../layouts/MarketingLayout.astro';
import UsaSkipNav from '../components/UsaSkipNav.astro';
---

<MarketingLayout>
  <UsaSkipNav mainContentId="#main-content" slot="skip-nav" />
  <div id="main-content"></div>
</MarketingLayout>
